---
---
<header class="bg-blue-700 text-white p-6 text-center">
    <h1 class="text-4xl font-bold">My Astro Reusable Header</h1>
    <p class="text-lg">This is my reusable Header locatated in the components file</p>
  </header>